body {
    font-family: 'Roboto',arial,sans-serif;
    margin: 30px;
}

.foot {
    background-color: #EFEFEF;
}

.bold {
    font-weight: bold;
}

.form {
    text-align: right;
    margin-right: 60px;
}

.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
}
  
.btn-border:hover {
    color: #fff;
    background: #000;

}