<!DOCTYPE html>
<html>
<head>
    <title>資産一覧</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>資産一覧とその取引結果</h1>
    <table>
        <thead>
            <tr>
                <th>銘柄</th>
                <th>資産残高</th>
                <th>現在価格</th>
                <th>評価額</th>
                <th>平均取得価格</th>
                <th>評価損益</th>
                <th>評価損益（％）</th>
                <th>確定損益</th>
            </tr>
        </thead>
        <tbody>
            {% for pair, data in results.items() %}
                <tr>
                    <td>{{ data.symbol }}</td>
                    <td>{{ data.onhand_amount }}</td>
                    <td>{{ data.current_price }}</td>
                    <td>{{ data.evaluation_cost }}</td>
                    <td>{{ data.avg_price }}</td>
                    <td>{{ data.unrealized_pnl }}</td>
                    <td>{{ data.unrealized_pnl_rate }}</td>
                    <td>{{ data.realized_pnl }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>{{ summary.total_evaluation_cost }}</td>
                <td></td>
                <td>{{ summary.total_unrealized_pnl }}</td>
                <td></td>
                <td>{{ summary.total_realized_pnl }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>